<!-- <main ng-app>

  <div >
    <app-products/>
    @if(isLogin){
      <p>found</p>
    }
    @else{
      <p>not found</p>
    }

    @for(fruit of fruits; track fruit.id){
      <p>{{fruit.name}}</p>
    }

    <img [src]="imgURL" alt="car_pic">
    <input type="text" value="name" [contentEditable]="msg">
  </div>

  <mat-slide-toggle>toggle me</mat-slide-toggle>
</main> -->

<main>
  <!-- <app-signup></app-signup> -->
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
 
</main>